################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TemplateApp/Package.StoreAssociation.xml
/TemplateApp/Protecc_TemporaryKey.pfx
